* {
    color: #425F57;
    font-weight: 500;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 36px;
}

#navbar {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

#navbar ul {
    margin-left: auto;
    margin-right: auto;
}

#navbar li {
    display: inline-block;
    margin: 5px;
}

h1, h2, h3 {
    text-decoration: none;
    font-weight: bold;
    color: maroon;
}


#navbar ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #425F57;
}

#navbar ul li a:active {
    text-decoration: underline;
}

#navbar ul li a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2em;
    margin: auto;
    position: static;
}

.main-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}


video {
    position: relative;
    display: block;
    margin: 1cm auto 0.5in auto;
    padding: 6px;
}

audio {
    display: block;
    margin: 1cm auto 0.5in auto;
    padding: 6px;
}


.company-logo {
    width: 20vw;
    height: auto;
    max-width: 40vw;
    max-height: 30vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8vh;
    margin-bottom: 8vh;
}

form {
    width: 50vw;
    padding: 8px 120px 24px 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

fieldset {
    border-style: solid;
    border-width: 2px;
    border-color: rgba(250, 112, 112, 0.7);
    border-radius: 10px;
    padding: 20px;
}

.center-heading {
    text-align: center;
}

.center-heading:hover {
    color: purple;
}

@media only screen and (max-width: 600px) {
    #navbar {
        display: none;
    }
  }